@inject LocalStorage Storage
@inject IUriHelper UriHelper
@inject IJSRuntime JSRuntime
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage
@using PartagesWebBlazorFSCore3.Shared.Helpers
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/forumCategories">
            <!--<img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">-->
            <img src="nav_bar.png" width="112" height="28" />
        </a>

        <a id="navbar-burger" role="button" onclick="@ToogleNavbar" class="navbar-burger burger @toogleClass" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu @toogleClass">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Accueil
            </a>

            <a class="navbar-item" href="forumCategories">
                Forum
            </a>

            @if (Storage["token"] != null && Storage["username"] != null)
            {
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        @Storage["username"].CapitalizeFirst()
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="messages">
                            Messages 
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" onclick="@LogOut">
                            Se déconnecter
                        </a>
                    </div>
                </div>
            }
        </div>
        @if (Storage["token"] == null || Storage["username"] == null)
        {
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <NavLink class="button is-primary" href="signUp">
                            <strong>S'inscrire</strong>
                        </NavLink>
                        <a class="button is-light" href="login">
                            Se Connecter
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</nav>
@functions {
    string toogleClass = "";

    private void ToogleNavbar()
    {
        if (toogleClass == "")
        {
            toogleClass = "is-active";
        }
        else
        {
            toogleClass = "";
        }
    }

    private async void LogOut()
    {
        Storage.RemoveItem("token");
        Storage.RemoveItem("username");
        UriHelper.NavigateTo("/");
        await JSRuntime.InvokeAsync<bool>("Refresh");
    }
}