@page "/forumTopics/{id:int}"
@inject IJSRuntime JsRuntime
@inject IUriHelper UriHelper
@inject LocalStorage Storage
@inject IAlertifyService AlertifyService
@inject IHttpForumCategorieService HttpForumCategorieService
@inject IHttpForumTopicService HttpForumTopicService
@implements IDisposable
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage
@using Microsoft.AspNetCore.WebUtilities
@using PartagesWebBlazorFSCore3.Client.Helpers
@using PartagesWebBlazorFSCore3.Client.Services
@using PartagesWebBlazorFSCore3.Client.Services.Http
@using PartagesWebBlazorFSCore3.Shared.Dtos.Output.Forum.ForumCategorie.ForSingleSelect
@using PartagesWebBlazorFSCore3.Shared.Dtos.Output.Forum.ForumTopic.ForList
@using PartagesWebBlazorFSCore3.Shared.Helpers

<h1>Forum</h1>

@if (items == null || forumCategorie == null)
{
    <p><em>Chargement...</em></p>
}
else
{
<p><a href="forumCategories">Index du forum</a> » <a href="forumTopics/@id">@forumCategorie.Name</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Vues</th>
                <th>Postes</th>
                <th>Dernière réponse</th>
            </tr>
        </thead>
        <tbody>
            @if (items.Length == 0)
            {
                <tr>
                    <td>Aucun sujet</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                @foreach (var item in items)
                {
                    <tr>
                        <td><a href="forumPosts/@item.Id">@item.Name</a></td>
                        <td>@item.View</td>
                        <td>@item.CountForumPost</td>
                        <td><a href="forumPosts/@item.Id?page=@item.PageLastForumPost">@item.Name</a> par @item.LastForumPost.User.Username.CapitalizeFirst() le a faire</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button class="button is-primary" onclick="@NewTopic">Nouveau sujet</button>
    <BulmaPagination PageCount="@pagination.TotalPages" CurrentPage="@pagination.CurrentPage" OnPageChanged="OnPageChange"></BulmaPagination>
}

@functions {
    // ForumCategorie id
    [Parameter] int id { get; set; }
    ForumTopicForListDto[] items;
    ForumCategorieForSingleSelectDto forumCategorie;
    PaginationHeader pagination = new PaginationHeader();
    string PageQuery { get; set; }

    protected override async Task OnInitAsync()
    {
        // Query param detection
        RefreshType();
        UriHelper.OnLocationChanged += OnLocationChanges;

        // Load data with query on load page
        await LoadDatas(Int32.Parse(PageQuery) > 0  ? Int32.Parse(PageQuery) : 1);
        StateHasChanged();
    }

    private async Task LoadDatas(int page)
    {
        HttpResponseMessage response;

        response = await HttpForumCategorieService.GetForumCategorie(id);
        switch (response.StatusCode)
        {
            case System.Net.HttpStatusCode.OK:
                string content = await response.Content.ReadAsStringAsync();
                forumCategorie = Json.Deserialize<ForumCategorieForSingleSelectDto>(content);
                break;
            default:
                AlertifyService.Open($"Erreur lors du chargement de la catégorie {id} du forum", TypeAlertify.Error);
                UriHelper.NavigateTo("/");
                break;
        }

        response = await HttpForumTopicService.GetForumTopics(id, page);
        switch (response.StatusCode)
        {
            case System.Net.HttpStatusCode.OK:
                string content = await response.Content.ReadAsStringAsync();
                items = Json.Deserialize<ForumTopicForListDto[]>(content);
                var head = response.Headers.GetValues("Pagination");
                pagination = Json.Deserialize<PaginationHeader>(head.FirstOrDefault());
                break;
            default:
                AlertifyService.Open($"Erreur lors du chargement des sujets du forum de la catégorie {forumCategorie.Name}", TypeAlertify.Error);
                UriHelper.NavigateTo("/");
                break;
        };
    }

    private async Task OnPageChange(int page)
    {
        await LoadDatas(page);
        StateHasChanged();
    }

    private void NewTopic()
    {
        UriHelper.NavigateTo($"/newForumTopic/{id}");
    }

    private void OnLocationChanges(object sender, string location) => RefreshType();

    private void RefreshType()
    {
        var uri = new Uri(UriHelper.GetAbsoluteUri());
        PageQuery = QueryHelpers.ParseQuery(uri.Query).TryGetValue("page", out var page) ? page.First() : "";
        if (PageQuery == "")
        {
            PageQuery = "1";
        }
        StateHasChanged();
    }

    public void Dispose()
    {
        UriHelper.OnLocationChanged -= OnLocationChanges;
    }
}
