@page "/signUp"
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject IUriHelper UriHelper
@inject LocalStorage Storage
@inject AlertifyService _alertifyService
@inject HttpAuthService _httpAuthService
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@using PartagesWebBlazorFSCore3.Client.Services;
@using PartagesWebBlazorFSCore3.Client.Services.Http;
@using PartagesWebBlazorFSCore3.Shared.Dtos.Input.Auth;
@using PartagesWebBlazorFSCore3.Shared.Helpers;

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if (UserExistText != "")
    {
        <ul class="validation-errors">
            <li class="validation-message">@UserExistText</li>
        </ul>
    }
    <div class="field">
        <label class="label">Nom d'utilisateur</label>
        <p class="control has-icons-left has-icons-right">
            <InputText id="username" bind-Value="@model.Username" class="input" />
            <span class="icon is-small is-left ">
                <i class="fas fa-user"></i>
            </span>
            @if (swAvailable)
            {
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
                <span class="help is-success">Ce nom d'utilisateur est disponible</span>
            }
            <span class="help is-danger"><ValidationMessage For="@(() => model.Username)" /></span>
        </p>
    </div>
    <div class="field">
        <label class="label">Mot de passe</label>
        <p class="control has-icons-left">
            <!-- https://github.com/aspnet/AspNetCore/issues/9179  added this to the 3.0.0-preview6 milestone  -->
            <!--<MyInput id="password" type="password" bind-Value="@model.Password" class="input" />-->
            <InputText id="password" bind-Value="@model.Password" class="input" />
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
            <span class="help is-danger"><ValidationMessage For="@(() => model.Password)" /></span>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <button class="button is-primary" type="submit">
                Register
            </button>
        </p>
    </div>
</EditForm>
@functions {
    private UserForRegisterInputDto model = new UserForRegisterInputDto();
    private bool swAvailable = false;
    private string UserExistText = "";

    protected override void OnInit()
    {
        model.ValueChanged += CheckIfUsernameAvailableEvent;
    }    

    public async void CheckIfUsernameAvailableEvent(object sender, EventArgs e)
    {
        // For udemy
        /*swAvailable = false;
        if (model.Username != "" && model.Username.Length > 2 && model.Username.Length < 30)
        {
            swAvailable = await Http.PostJsonAsync<Boolean>("api/Auth/available", model);
            StateHasChanged();
        }*/
        var httpAuthService = new HttpAuthService(Http, Storage);
        swAvailable = await _httpAuthService.PostIsAvailable(model);
        StateHasChanged();
    }

    protected async Task HandleValidSubmit()
    {
        UserExistText = "";
        var response = await _httpAuthService.PostRegister(model);
        switch (response.StatusCode)
        {
            case System.Net.HttpStatusCode.Created:
                _alertifyService = new AlertifyService(JsRuntime);
                _alertifyService.Open($"Utilisateur « {model.Username.CapitalizeFirst()} » crée", AlertifyService.Type.Success);
                UriHelper.NavigateTo("/");
                break;
            case System.Net.HttpStatusCode.BadRequest:
                UserExistText = await response.Content.ReadAsStringAsync();
                _alertifyService = new AlertifyService(JsRuntime);
                _alertifyService.Open(UserExistText, AlertifyService.Type.Error);
                break;
        };
    }
}
