@page "/signUp"
@*inject HttpClient Http // For Udemy*@
@inject IUriHelper UriHelper
@inject IJsAlertifyService JsAlertifyService
@inject IHttpAuthService HttpAuthService
@using PartagesWebBlazorFSCore3.Client.Helpers
@using PartagesWebBlazorFSCore3.Client.Services.Http
@using PartagesWebBlazorFSCore3.Client.Services.Js
@using PartagesWebBlazorFSCore3.Shared.Dtos.Input.Auth
@using PartagesWebBlazorFSCore3.Shared.Helpers

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @if (UserExistText != "")
    {
        <ul class="validation-errors">
            <li class="validation-message">@UserExistText</li>
        </ul>
    }
    <div class="field">
        <label class="label">Nom d'utilisateur</label>
        <p class="control has-icons-left has-icons-right">
            <MyInput id="username" type="text" bind-Value="@model.Username" class="input" Autocomplete="username" />
            <!--<InputText id="username" bind-Value="@model.Username" class="input" />-->
            <span class="icon is-small is-left ">
                <i class="fas fa-user"></i>
            </span>
            @if (swAvailable)
            {
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
                <span class="help is-success">Ce nom d'utilisateur est disponible</span>
            }
            <span class="help is-danger"><ValidationMessage For="@(() => model.Username)" /></span>
        </p>
    </div>
    <div class="field">
        <label class="label">Mot de passe</label>
        <p class="control has-icons-left">
            <!-- https://github.com/aspnet/AspNetCore/issues/9179  added this to the 3.0.0-preview6 milestone  -->
            <MyInput id="password" type="password" bind-Value="@model.Password" class="input" Autocomplete="current-password" />
            <!--<InputText id="password" bind-Value="@model.Password" class="input" />-->
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
            <span class="help is-danger"><ValidationMessage For="@(() => model.Password)" /></span>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <button class="button is-primary" type="submit">
                Register
            </button>
        </p>
    </div>
</EditForm>
@functions {
    private UserForRegisterInputDto model = new UserForRegisterInputDto();
    private bool swAvailable = false;
    private string UserExistText = "";

    protected override void OnInit()
    {
        model.ValueChanged += CheckIfUsernameAvailableEvent;
    }

    public async void CheckIfUsernameAvailableEvent(object sender, EventArgs e)
    {
        UserForRegisterAvailableInputDto dtoAvailable = new UserForRegisterAvailableInputDto()
        {
            Username = model.Username
        };
        // For udemy
        /*swAvailable = false;
        if (dtoAvailable.Username != "" && dtoAvailable.Username.Length > 2 && dtoAvailable.Username.Length < 30)
        {
            swAvailable = await Http.PostJsonAsync<Boolean>("api/Auth/available", dtoAvailable);
            StateHasChanged();
        }*/
        swAvailable = await HttpAuthService.PostIsAvailable(dtoAvailable);
        StateHasChanged();
    }

    protected async Task HandleValidSubmit()
    {
        UserExistText = "";
        var response = await HttpAuthService.PostRegister(model);
        switch (response.StatusCode)
        {
            case System.Net.HttpStatusCode.Created:
                JsAlertifyService.Open($"Utilisateur « {model.Username.CapitalizeFirst()} » crée", TypeAlertify.Success);
                UriHelper.NavigateTo("/");
                break;
            case System.Net.HttpStatusCode.BadRequest:
                UserExistText = await response.Content.ReadAsStringAsync();
                JsAlertifyService.Open(UserExistText, TypeAlertify.Error);
                break;
        };
    }
}
